body{
    margin: 0;
    padding: 0;
}

.white-background {
    background-color: white;
  }
  
  .input-style {
    width: 332px;
    height: 51px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0; /* ตั้งค่าเป็น 0 เพื่อทำให้ไม่มีเหลี่ยมมน */
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-style:focus {
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
  }
  .custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .select-selected {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .select-selected img {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .select-items {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 100%;
    z-index: 99;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .select-items div {
    padding: 10px;
    cursor: pointer;
  }
  
  .select-items div:hover {
    background-color: #ddd;
  }
  
  .select-items img {
    vertical-align: middle;
    margin-right: 10px;
  }
  