.container {
  width: 50%;
  margin: auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* จัดให้อยู่ตรงกลางแนวนอน */
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 100%; /* ตั้งความกว้างเป็น 100% */
}

input[type="text"],
textarea {
  
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 10%; /* ตั้งความกว้างเป็น 50% */
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="file"] {
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
