


.buttonfoodsubmit button
 {
  background-color: #2e1cec; /* สีพื้นหลัง */
  color: white; /* สีข้อความ */
  padding: 12px 24px; /* ขนาดของปุ่ม */
  font-size: 16px; /* ขนาดตัวอักษร */
  border: none; /* ไม่มีเส้นขอบ */
  border-radius: 6px; /* ทำให้มุมของปุ่มเป็นรูปวงกลม */
  cursor: pointer; /* เมาส์เป็นเครื่องมือที่แสดงการใช้งานได้ */
  transition: background-color 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสีพื้นหลังเมื่อ hover */
  outline: none; /* ไม่มีเส้นขอบเมื่อปุ่มได้รับการคลิก */
}

.buttonfoodsubmit button:hover
 {
  background-color: #6358e2; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
}

.buttonfoodsubmit button:focus
 {
  box-shadow: 0 0 0 2px #867fd8; /* เพิ่มเงาเมื่อปุ่มได้รับการคลิก */
}


.buttonfoodcancel button {
  background-color: #ff0000; /* สีพื้นหลัง */
  color: white; /* สีข้อความ */
  padding: 12px 24px; /* ขนาดของปุ่ม */
  font-size: 16px; /* ขนาดตัวอักษร */
  border: none; /* ไม่มีเส้นขอบ */
  border-radius: 6px; /* ทำให้มุมของปุ่มเป็นรูปวงกลม */
  cursor: pointer; /* เมาส์เป็นเครื่องมือที่แสดงการใช้งานได้ */
  transition: background-color 0.3s ease; /* เพิ่มเอฟเฟกต์การเปลี่ยนสีพื้นหลังเมื่อ hover */
  outline: none; /* ไม่มีเส้นขอบเมื่อปุ่มได้รับการคลิก */

}


.buttonfoodcancel button:hover {
  background-color: #ee6c6c; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
}


.buttonfoodcancel button:focus {
  box-shadow: 0 0 0 2px #e18a8a; /* เพิ่มเงาเมื่อปุ่มได้รับการคลิก */
}


.buttonContainerfood {
  display: flex; /* ให้ทำการจัดเรียงโดยใช้ Flexbox */
  gap: 10px; /* ระยะห่างระหว่างปุ่ม */
}


.inputfoodelement{
  height: 300px;
  width: 500px;
}


.imgaddfood {
  position: fixed;
  height: 400px;
  width: 600px;
  margin-left: -674px;
  margin-top: -650px;
}

.input-stylefood {
  width: 332px;
  height: 51px;
  border: 1px solid #050505; 
  font-size: 16px;
  
}


.boxtextfood {
  margin-right: -850px;
  margin-top: -100px;
}

.backgroundfood {
  background-image: url('https://png.pngtree.com/background/20211215/original/pngtree-rice-spoon-korean-food-traditional-background-picture-image_1452789.jpg');
  background-size: cover; /* ทำให้รูปภาพครอบคลุมทั้งหน้าจอ */
  background-position: center; /* จัดตำแหน่งรูปภาพให้อยู่ตรงกลาง */
  background-repeat: no-repeat; /* ป้องกันการซ้ำของรูปภาพ */
  height: 100vh; /* ตั้งค่าความสูงขององค์ประกอบเป็น 100% ของความสูงหน้าจอ */
  width: 100vw; /* ตั้งค่าความกว้างขององค์ประกอบเป็น 100% ของความกว้างหน้าจอ */
  margin: 0; /* ป้องกัน margin ที่อาจเกิดขึ้น */
  padding: 0; /* ป้องกัน padding ที่อาจเกิดขึ้น */
  overflow: hidden; /* ป้องกัน scrollbars จากการปรากฏ */
 
  margin-top: -30px;
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
