.custom-dropdown select,
.custom-dropdown option {
  background-color: white;
}

/* Fooddetails.css */
.container {
  position: fixed;
  top: 30vh; /* 10% ของความสูงของ viewport จากด้านบน */
  left: 50%;
  transform: translateX(-50%);
  width: 90vw; /* 90% ของความกว้างของ viewport */
  max-height: 80vh; /* 80% ของความสูงของ viewport */
  background-color: #ffffff;
  padding: 5vw; /* 5% ของความกว้างของ viewport */
  border-radius: 20px;
  overflow-y: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detail-food,
.detail-price {
  display: inline-block;
  width: 500px; /* ปรับขนาดตามที่ต้องการ */
  font-size: 19px;
  color: #555;
}

.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.food-image {
  max-width: 550px; /* กำหนดให้รูปภาพไม่เกินขนาด container */
  max-height: 250px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.ingredients-container {
  flex: 1;
}

.ingredients-label {
  font-size: 19px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 19px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.ingredients-input,
.description-input {
  width: 700px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow-y: auto; /* ทำให้เป็น scroll ในแนวแกน y เมื่อข้อความเกินขนาดกล่อง */
  resize: vertical; /* ทำให้สามารถปรับขนาดกล่องได้แค่แนวแกน y */
}

.description-label {
  font-size: 19px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.description-api {
  font-size: 18px;
}

.description-apiname {
  font-size: 18px;
  margin-left: 110px;
  margin-top: -40px;
}

.description-apiprice {
  font-size: 18px;
  margin-left: 110px;
  margin-top: -40px;
}

.bk {
  background-color: #fff;
  height: 500vh;
}

.translation-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* ระยะห่างจากด้านบน */
  margin-bottom: 20px; /* ระยะห่างจากส่วนประกอบด้านล่าง */
}
.translation-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center; /* จัดข้อมูลให้อยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดข้อมูลให้อยู่ตรงกลางแนวตั้ง */
  height: 100vh; /* ให้คอนเทนเนอร์เต็มสูงของหน้าจอ */
}
