
.data-storehome {
  text-align: center; /* จัดตำแหน่งข้อความให้อยู่ตรงกลาง */
  font-size: 20px; /* กำหนดขนาดข้อความใหญ่ขึ้นเป็น 18px */
}
.container-store {
  display: flex;
  justify-content: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
}



.grid-container {
  display: flex;
  flex-wrap: wrap; /* ให้รายการถัดไปขึ้นบรรทัดใหม่เมื่อความยาวเกิน */
  gap: 20px; /* ระยะห่างระหว่างร้าน */
  justify-content: center; /* จัดให้ร้านอยู่ตรงกลางแนวนอน */
}

.card {
  border: 1px solid #ccc; /* เพิ่มเส้นขอบรอบให้กับกล่อง */
  border-radius: 8px; /* กำหนดขอบมนของกล่อง */
  padding: 50px; /* เพิ่มช่องว่างในกล่อง */
  text-align: center; /* จัดให้เนื้อหาอยู่ตรงกลาง */
  width: calc(50% - 20px); /* กำหนดความกว้างของแต่ละร้านให้อยู่ที่ครึ่งหนึ่งของพื้นที่ของคอลัมน์แต่ละคอลัมน์และลบระยะห่างของคอลัมน์ */
  box-sizing: border-box; /* ให้ความกว้างของกล่องรวมถึงพื้นที่ของเส้นขอบด้วย */
}

.picture-home {
  width: 100%; /* กำหนดให้รูปภาพเต็มพื้นที่ */
  height: 100%; /* กำหนดความสูงของรูปภาพเต็มพื้นที่ */
  object-fit: cover; /* ปรับขนาดรูปภาพให้ครอบคลุมพื้นที่ */
  object-position: center; /* จัดให้ตำแหน่งของรูปภาพอยู่ตรงกลาง */
  border-radius: 8px; /* กำหนดขอบมนของรูปภาพ */
}


