/* Login.css */
body {
  height: 100%;
  margin: 0;
  background-color: white;
}

/* styles.css */
/* ปรับขนาดของ container ให้เต็มหน้าจอ */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
}
/* ปรับขนาดของ container ให้เต็มหน้าจอ */
.container .content {
  width: 40px; /* กำหนดความกว้างของ content */
}
.content {
  text-align: center;
}

/* ปรับการจัดวางข้อความให้อยู่ตรงกลาง */
.text-center {
  text-align: center;
}

/* ปรับขนาดและสีของปุ่มและเปลี่ยนรูปแบบเมื่อนำเมาส์ไปชี้ */
button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  filter: brightness(1.2); /* ทำให้ปุ่มสว่างขึ้นเมื่อนำเมาส์ไปชี้ */
}

/* ปรับสีของลิงก์ Register เมื่อนำเมาส์ไปชี้ */
a.text-blue-500:hover {
  color: #3b82f6;
}

/* เพิ่มเอฟเฟค Hover สำหรับปุ่มและลิงก์ */
button:hover,
a.text-blue-500:hover {
  filter: brightness(1.2); /* ทำให้สว่างขึ้นเมื่อนำเมาส์ไปชี้ */
}

/* ปรับขนาดและสีของปุ่ม Logout */
button.logout-button {
  width: 100%; /* ปรับความกว้างให้เต็มขอบ */
  background-color: #ff4d4f; /* สีแดงเข้ม */
  border: none; /* ไม่มีเส้นขอบ */
  color: white; /* สีข้อความเป็นขาว */
  font-weight: bold; /* ตัวหนา */
  padding: 12px 0; /* ขนาดการเส้นขอบ */
  border-radius: 4px; /* ปรับเส้นขอบ */
  transition: background-color 0.3s; /* เพิ่มเอฟเฟคที่ตอบสนอง */
}

button.logout-button:hover {
  background-color: #ff7875; /* เปลี่ยนสีเมื่อ Hover */
}

.form-login {
  /* position: relative; */
  width: 30rem; /* กำหนดความกว้างที่ต้องการ */
  height: 30rem; /* กำหนดความสูงที่ต้องการ */
  margin-right: 60px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  transition: background-color 2s ease-out, transform 0.3s ease;
}

.form-login:hover{
  background-color: rgb(250, 250, 234);
}
