.show-user-container {
  width: 254.34px;
  height: 110px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 20px;
  right: 0; /* กำหนดให้ชิดขวาสุด */
  margin-top: -15px;
  z-index: 9999;
}

  
  .user-info {
    width: 254.34px; /* ปรับขนาดของพื้นที่เพื่อให้ตรงกับ container */
    height: 100px; /* ปรับขนาดของพื้นที่เพื่อให้ตรงกับ container */
    background-color: #FFBB5C;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    position: fixed;
  }
  
  .welcome-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  
  .profile-picture {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 30px;
  }
  