body{
    margin: 0;
    padding: 0;

}
.Header{
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.color-Translate{
    margin:1.5rem;
    padding: 1rem;
    border: 28px solid #ffc107;
    border-radius: 1.5rem;
    width: 500px;
}

.language{
    display: flex;
    color: black;
}

.language > button{
    background-color:#e0e0e0;
    margin:10px;
    padding:20px;
    font-size:10px;
    cursor: pointer;
    border-color: red;
    
}

button:hover {
    background: #eee;
    border: 2px solid;
    margin-bottom: -1px;
}

.box-InputTranslate{
    width: 300px;
  border: 2px solid grey ;
  padding: 30px;
  margin: 40px;
  border-radius: 10px;
 

}
.box-OutputTranslate{
       width: 300px;
  border: 2px solid gray ;
  padding: 30px;
  margin: 50px;
  border-radius: 10px;
  
 
}